.article-header {
    background-color: #ae8ca3;
    color: white;
    border: 3px solid transparent;
    text-align: center;
}
.section-content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
}
.add-user-btn {
    float: right;
    margin-bottom: 5px;
}
.statistics {
    display: flex;
    justify-content: end;
    margin: 5px;
}
.header-center {
    display: flex;
    justify-content: center;
}
.client-number {
    padding-right: 10px;
}
